<div class="main" >
	<div class="left_pane">
		<!--<div class="left_pane_info">-->
			<!--<span>Filters</span>-->
			<!--<button ng-click="vm.showPaneContent()">click</button>-->
		<!--</div>-->
			<div class="left_pane_content">
				<!--<label ng-repeat="name in vm.names" for="{{name}}" style="margin-right:10px;">-->
					<!--<input type="radio" ng-model="the.type" ng-value="name" id="{{name}}" name="type">-->
					<!--{{name}}-->
				<!--</label>-->
				<br>
				<form>
					<label ng-if="selected=='employees'">
						<h2>Employees</h2>
						<select ng-model="vm.options"
								ng-options="options.key for options in vm.sortOptions">
							<option value="">-- to choose --</option>
						</select>

					</label>
					<label ng-if="selected=='planners'">
						<h2>Planners</h2>
						<select ng-model="vm.options"
								ng-options="options.key for options in vm.sortOptions">
							<option value="">-- to choose --</option>
						</select>
					</label>
				</form>

				<div class="employeeCard" ng-repeat="man in vm.employees | orderBy:vm.options.value" ng-if="selected=='employees'">
					<div class="top_table">
						<div class="top_table_cell user_cell">
							<img ng-src="../img/anouser2.jpg">
						</div>
						<div class="top_table_cell">
							<div class="employeeCard_name">{{man.name}}</div>
							<div class="employeeCard_title">{{man.title}}</div>
						</div>
						<span class="flyOut_trigger" ng-click="vm.flyoutFunction($index,$event)">...</span>

					</div>
					<div class="employeeCard_front" ng-show="vm.showFront[$index]">
						<div class="salary_table">
							<div class="salary_table_cell">
								<p class="employeeCard_salary">Salary</p>
							</div>
							<div class="salary_table_cell">
								<div class="salary_slider_cell">
									<div class="emp_scale_line"></div>
								</div>
							</div>
							<div class="salary_table_cell" ng-click="vm.flip($index)">
								<span class="front_flip_cell">></span>
							</div>
						</div>
						<div class="employeeCard_feedback">Extraordinary Achievement</div>
					</div>
					<div class="employeeCard_back" ng-show="!vm.showFront[$index]">
						<div class="salary_table_cell back_flip_cell" ng-click="vm.flip($index)">
							<span><</span>
						</div>
						<div class="salary_table_cell salary_and_location">
							<span>{{man.salary}}</span>
							<span>{{man.salaryTitle}}</span>
							<span>{{man.location}}</span>
						</div>
						<div class="salary_table_cell levels_and_zone">
							<span>New Level:{{man.NewLevel}}</span>
							<span>Current Level:{{man.CurrentLevel}}</span>
							<span>Current Zone:{{man.CurrentZone}}</span>
						</div>
					</div>
				</div>

				<div class="employeeCard" ng-repeat="man in vm.planner | orderBy:vm.options.value" ng-if="selected=='planners'">

					<div class="top_table">
						<div class="top_table_cell user_cell">
							<img ng-src="../img/anouser2.jpg">
						</div>
						<div class="top_table_cell">
							<div class="employeeCard_name">{{man.name}}</div>
							<div class="employeeCard_title">{{man.title}}</div>
						</div>
						<span class="flyOut_trigger" ng-click="vm.flyoutFunction($index,$event)">...</span>
					</div>
					<div class="employeeCard_front" ng-show="vm.showFront[$index]">
						<div class="salary_table">
							<div class="salary_table_cell">
								<p class="employeeCard_salary">Salary</p>
							</div>
							<div class="salary_table_cell">
								<div class="salary_slider_cell">
									<div class="emp_scale_line"></div>
								</div>
							</div>
							<div class="salary_table_cell" ng-click="vm.flip($index)">
								<span class="front_flip_cell">></span>
							</div>
						</div>
						<div class="employeeCard_feedback">Extraordinary Achievement</div>
					</div>
					<div class="employeeCard_back" ng-show="!vm.showFront[$index]">
						<div class="salary_table_cell back_flip_cell" ng-click="vm.flip($index)">
							<span><</span>
						</div>
						<div class="salary_table_cell salary_and_location">
							<span>{{man.salary}}</span>
							<span>{{man.salaryTitle}}</span>
							<span>{{man.location}}</span>
						</div>
						<div class="salary_table_cell levels_and_zone">
							<span>New Level:{{man.NewLevel}}</span>
							<span>Current Level:{{man.CurrentLevel}}</span>
							<span>Current Zone:{{man.CurrentZone}}</span>
						</div>
					</div>
				</div>

			</div>

	</div>

	<div class="right_pane">
		<h3>Model different base pay scenarios for your team below using predefined or custom created groups.</h3>
		<div class="right_pane_wrapper">
			<ul>
				<li style="height:28px;">
					<span ng-click="vm.createGroupClicked()" ng-show="!vm.showCreateGroupInput" class="every_name" style="width: 170px;display: inline-block;">Click to input name here.</span>
					<input class="create-planning-group-name-input" type="text" value="vm.add_GroupName"
						   ng-model="vm.add_GroupName"
						   style="width:170px;outline:none;border:none;"
						   ng-blur="vm.createGroupCanceled()"
						   ng-show="vm.showCreateGroupInput"
						   ng-keyup="vm.handleKeyInput($event)"
						   ng-keypress="vm.validateKeyInput($event)"
						   ng-paste="vm.validatePaste($event)">
					<span ng-click="vm.addNames()" class="glyphicon glyphicon-plus" style="margin-left:30px;cursor:pointer"></span>
				</li>

				<li ng-repeat="everyName in vm.show_name">
					<div class="show_name_box" ng-init="p_index=$index">
						<span class="every_name">{{everyName.types}}  </span>
						<span ng-click="vm.removeNames($index)" class="glyphicon glyphicon-remove remove_GroupName"></span>

						<span ng-click="vm.showGroupPeople($index)" class="glyphicon glyphicon-chevron-down showGroupPeople"></span>

						<br>
						<div ng-if="vm.ifShowAddedName[$index]">
							<span ng-repeat="addedPeopleName in everyName.addedPeople" style="display: block;">{{addedPeopleName}}
								<span ng-click="vm.removeFromGroup(p_index,$index)" style="cursor: pointer;">× </span>
							</span>
						</div>

					</div>
				</li>
			</ul>


			<div class="wrapperDIV" style="display:none;"><a>contents</a><a>contents</a><a>contents</a></div>

		</div>

	</div>
</div>
