<div id="finalizePage">
    <div class="finalizeWrapper">
        <div class="grid-setting-section">
            <div class="launch-setting-modals-section">
                <span class="setting-btn" ng-click="vm.launchFilterModal()">People
                    <i class="glyphicon glyphicon-filter"></i>
                </span>
                <span class="setting-btn" ng-click="vm.launchColumnsModal()">Columns
                    <i class="glyphicon glyphicon-eye-open"></i>
                </span>
            </div>
            <div class="quick-look">
                <span>Showing 1 - 30 of 30 Total Results</span>
                <span class="filter-bread-crumb-section-title">Filter By</span>
            </div>
        </div>
        <div class="salary-grid-wrapper">
            <div class="grid-jump-links">
                <h1 class="jump-to-section-header">Jump to section:
                    <i class="glyphicon glyphicon-chevron-down" ng-click="vm.hideJumpLinks()" ng-if="vm.jumpLinksShowing"></i>
                    <i class="glyphicon glyphicon-chevron-up" ng-click="vm.showJumpLinks()" ng-if="!vm.jumpLinksShowing"></i>
                </h1>

                <div class="rows" ng-if="vm.jumpLinksShowing">
                    <div class="col-md-5ths col-sm-5ths col-xs-5ths jump-link-column">
                        <div class="jump-link-div">
                            <span class="jump-link-span">Demographic and Talent Information</span>
                        </div>
                        <div class="jump-link-div">
                            <span class="jump-link-span">Total Cash</span>
                        </div>
                        <div class="jump-link-div">
                            <span class="jump-link-span">Total Cash Plus Equity</span>
                        </div>
                    </div>
                    <div class="col-md-5ths col-sm-5ths col-xs-5ths jump-link-column">
                        <div class="jump-link-div">
                            <span class="jump-link-span">Base Pay</span>
                        </div>
                        <div class="jump-link-div">
                            <span class="jump-link-span">Total Bonuses</span>
                        </div>
                        <div class="jump-link-div">
                            <span class="jump-link-span">Equity</span>
                        </div>
                    </div>
                    <div class="col-md-5ths col-sm-5ths col-xs-5ths jump-link-column">
                        <div class="jump-link-div">
                            <span class="jump-link-span">Global Annual Bonus</span>
                        </div>
                        <div class="jump-link-div">
                            <span class="jump-link-span">Individual Performance Bonus</span>
                        </div>
                        <div class="jump-link-div">
                            <span class="jump-link-span">Pay For Performance</span>
                        </div>
                    </div>
                    <div class="col-md-5ths col-sm-5ths col-xs-5ths jump-link-column">
                        <div class="jump-link-div">
                            <span class="jump-link-span">Local Variable Pay</span>
                        </div>
                        <div class="jump-link-div">
                            <span class="jump-link-span">Sales Achievement Bonus</span>
                        </div>
                        <div class="jump-link-div">
                            <span class="jump-link-span">Account Executive Bonus</span>
                        </div>
                    </div>
                    <div class="col-md-5ths col-sm-5ths col-xs-5ths jump-link-column">
                        <div class="jump-link-div">
                            <span class="jump-link-span">Expert Bonus</span>
                        </div>
                        <div class="jump-link-div">
                            <span class="jump-link-span">Other Bonus</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
