$white: #ffffff;
$blue: #259AD4;
$light-blue:#58AFE0;
$orange: orange;
$light-gray: #f0f0f0;
$mid-gray: #D6D6D6;

%dib {
  display:inline-block;
}

body {
  margin:0;
  padding:0;
  border:0;
}

.header {
  height: 54px;
  width: 100%;
  overflow:hidden;
  background-color: $white;

  .notify {
    width: 260px;
    height:54px;
    background-color: $blue;
    float:left;

    img{
      @extend %dib;
      margin:7px 0 0 20px;
      width: 40px;
      height: 40px;
      border-radius: 7px;
    }
    span {
      @extend %dib;
      font-family: sans-serif;
      font-size: 24px;
      float: right;
      margin: 10px 30px 0 0;
      color: $white;
    }

  }

  .nav_bar {
    float:left;
    height: inherit;
    width: auto;

    a {
      @extend %dib;
      width:186px;
      height:54px;
      text-align: center;
      line-height: 54px;
      font-size:20px;
      font-family: sans-serif;
      cursor: pointer;
      text-decoration:none;
    }

  }

  .settingIcon {
    font-size: 22px;
    color: $orange;
    margin: 15px 0 0 100px;
    cursor: pointer;
  }

}

.showBack {
  background-color:$light-gray;
}

.main {
  width:100%;
  height: auto;
}

.bottomBackground {
  position: absolute;
  z-index: -100;
  background-color:$light-blue;
  width:260px;
  height: 845px; //the innerHeight, better to control the value in JS code.
}

.left_pane {
  width:260px;
  height:auto;
  float:left;

  .left_pane_info {
    width:inherit;
    height:54px;
    background-color: $mid-gray;

    span {
      font-size:24px;
      font-family: sans-serif;
      color:#3399CC;
      line-height: 54px;
      margin: 0 0 0 20px;
    }
    button {
      float: right;
      width:60px;
      height:30px;
      margin: 12px 20px 0 0;
      border-radius: 3px;
    }

  }

  .left_pane_content {
    text-align: center;
    background-color:$light-blue;
    color: #ffffff;
    height:100%;
    font-family: sans-serif;
    /*overflow: auto;*/
    padding:0 24px;

    input {
      margin-top:20px;
    }

    div:first-child {
      /*margin:25px 0;*/
    }

    form{
      label{
        width: 100%;
        /*padding: 0 20px;*/

        select{
          width: 100%;
          height: 30px;
          background: #259AD4;
          border-color: transparent;
          font-weight: lighter;
          color: #ffffff;
        }

      }
    }

  }

}



#slt_1 {
  width:220px;
  height:24px;
  margin:10px 0 25px 50px;
}

.employeeCard {
  width:212px;
  margin:10px auto;
  /*overflow:hidden;*/
  background-color:white;
  color: #000000;

  .top_table {
    display:table;
    width:100%;
    position:relative;

    .userInWhichGroup {
      position:absolute;
      top:4px;
      left:2px;
      width:14px;
      height:14px;
      border-radius:50%;
      z-index:101;
      //background-color:black;
    }

    .flyOut_trigger {
      position:absolute;
      top:-8px;
      right:5px;
      font-weight:bolder;
      font-size:20px;
      cursor:pointer;
    }

    .top_table_cell {
      display:table-cell;
      /*float:left;*/
      letter-spacing: 0;
    }

    .employeeCard_name {
      text-align: left;
      font-size: 18px;
      padding: 12px 0 3px 10px;
      line-height:18px;
    }

    .employeeCard_name_extended {
      text-align: left;
      font-size: 18px;
      padding: 12px 0 3px 10px;
      line-height:18px;
    }

    .employeeCard_title {
      text-align: left;
      font-size: 14px;
      padding-left: 10px;
      color:#778888;
      line-height:14px;
    }

  }

  .user_cell {
    width:50px;
    height:60px;
    position:relative;

    img {
      width:40px;
      height:40px;
      border-radius: 50%;
      position:absolute;
      left:5px;
      top:5px;
    }

  }

}

.extendedTeam {
  @extend .employeeCard;
}

.employeeCard_front {
  clear:both;
  overflow: hidden;

  .salary_table {
    display:table;
    width:100%;
  }

  .salary_table_cell {
    display: table-cell;
    vertical-align: middle;
    line-height:50px;
    font-size: 24px;
  }

  .employeeCard_salary {
    color: #778888;
    font-size: 12px;
    line-height: 0.51em;
    letter-spacing: 0.05em;
    font-style: normal;
    padding: 10px 0 0 5px;
  }

  .salary_slider_cell {
    width:135px;
    height:30px;
    position:relative;
    margin: 0 0 0 10px;

    .emp_scale_line {
      position: absolute;
      height:2px;
      width:100%;
      background-color: #cbcbcb;
      z-index:900;
      left:0;
      top:16px;
    }

  }

  .front_flip_cell {
    font-size:16px;
    cursor:pointer;
    padding-right:5px;
  }

  .employeeCard_feedback {
    background-color:#FFDD99;
    color:#666666;
    width:100%;
    display:inline-block;
    padding:4px 5px;
    font-size:14px;
  }

}


.employeeCard_back {
  clear:both;
  margin:0 0 15px 0;
  overflow: hidden;
  width:100%;

  .back_flip_cell {
    padding: 0 5px;
    cursor:pointer;
  }

  .salary_table_cell {
    display: table-cell;
    vertical-align: middle;
    line-height:50px;

    span {
      font-size: 12px;
      letter-spacing: 0;
      line-height:12px;
      display: table-row;
      text-align:left;
      width:100%;
    }

  }

  .salary_and_location {
    width:90px;
  }

  .levels_and_zone {
    width:95px;
  }

  .front_flip_cell {
    font-size:16px;
    cursor:pointer;
    padding-left:5px;
  }

}


.popups {
  font-weight:bolder;
  cursor:pointer;
}

.menuRight {
  position:absolute;
  right:15px;
}

.right_pane {
  float:left;
  width:79.4%;

  h2 {
    margin: 20px;
  }

  .right_pane_wrapper {
    width:100%;

    ul {
      width:100%;
      padding:0;

      li{
        //width:100%;
        margin:8px 18px;
        border:1px solid $blue;

        .every_name_only {
          margin-left:24px;
          width:170px;
          height:24px;
          line-height: 24px;
          display:inline-block;
        }

        .add-group-names-button {
          //margin-left:30px;
          cursor:pointer;
          color:#666;
          font-size: 15px;
          position:absolute;
          top:-11px;
          left:6px;
        }

        .create-planning-group-name-input {
          width:170px;
          outline:none;
          border:none;
          margin-left:24px;
          line-height: 24px;
          height:24px;
        }

        .show_name_box {
          margin:0 8px;
          position:relative;

          .show_name_box_title {
            margin:8px 0;

            .colorCircles {
              width:12px;
              height:12px;
              border-radius:50%;
              display:inline-block;
              position:absolute;
              top:5px;
              left:0;
              //background-color:red;
            }

            .every_name {
              width:170px;
              height:24px;
              margin-left:20px;
              display:inline-block;
              //margin-left:8px;
            }

            .remove_GroupName {
              margin-left:30px;
              cursor:pointer;
              color:#8ea9af;
              font-size: 15px;
            }

            .showGroupPeopleButton {
              //margin-left:130px;
              cursor:pointer;
              float:right;
              margin-top:4px;
              font-size: 15px;
            }

          }

          .peoplePropertyTitle {
            //border:1px solid red;
            height: 34px;
            line-height: 18px;
            padding:8px;
            background-color:#eee;

            span {
              float:left;
              width:30%;
              //border:1px solid blue;
            }
          }
          .titleRow {
            background-color:#ccc;
            border-top:1px solid $blue;
          }
          .modelAddedPeopleRow {
            //height:50px;
            //line-height: 50px;
          }


        }

      }

      .second-li:first-child {
        border-top:solid 1px $blue;
      }

    }
  }

}




.modalSelected {
  height: 30px;
  width: 126px;
  font-size:20px;
}


.wrapperDIV {
  width:400px;
  margin-top:100px;
}

.wrapperDIV a {
  position:relative;
  cursor:pointer;
  text-decoration: none;
  display: block;
  border: 1px solid #202221;
  margin-top:-1px;
  padding: 15px 40px;
  font-size: 18px;
}

.wrapperDIV a:before {
  content:'';
  width:0;
  height:100%;
  background-color:#953b39;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in ;
  -o-transition: width 0.3s ease-in ;
  transition: width 0.3s ease-in ;
}

.wrapperDIV a:hover:before {
  text-decoration: none;
  width:100%;
  background-color:#953b39;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in ;
  -o-transition: width 0.3s ease-in ;
  transition: width 0.3s ease-in ;
}


.employee-card-flyout-menu {
  background-color: #3B3B3B;
  display: block;
  width: 245px;
  position: absolute;
  z-index: 2000;
  color: white;
  outline-style: none !important;
}

.flyout-item {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.flyout-header {
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 15px;
  font-size: 0.875em;
  font-weight: 800;
}

.flyout-item:last-child {
  border-bottom: none;
}

.individual-link-container {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 0.75em;
  cursor: pointer;
  color: #9acfea;
}

.group-list {
  margin: 0;
  max-height: 130px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  cursor:pointer;
}

.group-list:hover {
  overflow-y:scroll;
  cursor:pointer;
}

.group-name {
  cursor:pointer;
}
